.navbar {
  background-color: #fff;
  padding: 25px 100px;
}

.logo {
  width: 200px;
  height: auto;
}

.links {
  font-size: 11pt;
}

.singin {
  text-decoration: none !important;
  color: #333;
  font-weight: 600;
  cursor: pointer;
}

.singin:hover {
  color: #666;
}

.signup {
  text-decoration: none !important;
  background: #f77d0e !important;
  color: white !important;
  font-weight: 600 !important;
}
.signup:hover {
  background: #fff !important;
  border: 1px solid #f77d0e !important;
  color: #f77d0e !important;
}
.routeLink {
  text-decoration: none !important;
  color: #333;
}
.routeLink:hover {
  color: #666 !important;
}
