* {
  font-family: "Raleway", sans-serif;
}
.devMember {
  height: 40% !important;
  border-radius: 50% 50% 50% 50% !important;
}
.aboutus-section {
  text-align: center;
  color: #fff;
  font-weight: 600;
  height: 200px;
  padding: 6% 0;
  background: rgb(0, 180, 219);
  background: linear-gradient(
    90deg,
    rgba(0, 180, 219, 1) 0%,
    rgba(0, 103, 139, 1) 100%
  );
}

.title-section {
  text-align: center;
  padding: 6% 10%;
  //border: 1px solid black
}
.title-section p {
  text-align: center;
  padding: 0 11%;
  //border: 1px solid black
}
.about-list {
  text-align: center;
}
