.inp-email {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-card {
  width: 50%;
}

.signup-section {
  background-color: #f7f7ff;
  padding: 100px 0;
}

.con-linkedin {
  margin-bottom: 15px;
  width: 70%;
  background-color: #0083b0 !important;
  border: none !important;
}
.con-linkedin:hover {
  background-color: #049ed1 !important;
}

.con-email {
  width: 70%;
  background-color: #f77d0e !important;
  border: none !important;
}

.con-email:hover {
  background-color: #f88f2c !important;
}

.signup-header {
  font-weight: 600;
  font-size: 15pt;
  color: #0083b0;
}

.alert-style {
  margin-top: 20px;
  width: 50%;
  font-weight: 300;
}

.alert-style-link {
  text-decoration: none !important;
  color: #0083b0 !important;
  margin-left: 10px;
}

.alert-style-link:hover {
  color: #049ed1 !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border: none;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
  color: #049ed1;
}
