footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 50px 0;
}

footer h2 {
  font-size: 15pt;
  font-weight: 600;
  /* color: #fff; */
  margin-bottom: 12px;
}
footer p {
  font-size: 9pt;
  /* color: #fff; */
  margin-bottom: 12px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
footer p:nth-child(3) {
  text-transform: capitalize;
  letter-spacing: 2px;
}

footer div .fab {
  font-size: 15pt;
  /* color: #fff; */
  margin-top: 15px;
  margin-right: 20px;
  letter-spacing: 30px;
  cursor: pointer;
}
footer div .fab:hover {
  color: #f77d0e;
  transition-duration: 360ms;
}
